#background {
    max-height: 200px;
    background: lightblue;
    /*in case gradients are not supported*/
    background: linear-gradient(lightblue, white);
    /*The gradient will fade top-to-bottom going from lightblue to white*/
    padding-top: 80px;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 70px;
    font-family: 'Archivo Black', sans-serif;
    animation: spin 5s 1;
}

@keyframes spin {
    from{transform: rotateY(0deg);}
    to{transform: rotateY(360deg);}
}

h3 {
    font-size: 40px;
}

#instruction {
    text-align: center;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    margin: auto;
}

#rules {
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
    text-align: center;
}

/*Each rule has the repeated code so that they will each have the transition and have the same formatting*/

#rule1 {
    display: inline-block;
    /*allows the divs to be placed next to each other, while still allowing to take up an indicated amount of space*/
    margin-right: 30px;
    color: gray;
    transition: color 1s, box-shadow 1s;
    /*will change the font color and create a box-shadow, each for 1 second*/
}

#rule1:hover {
    /*when the cursor hovers over the div, the following will happen*/
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    /*sets the dimensions, color, and opacity of the box shadow*/
    background-color: lightblue;
    color: black;
}

#rule2 {
    display: inline-block;
    margin-right: 30px;
    color: gray;
    transition: background-color 1s, color 1s, box-shadow 1s;
}

#rule2:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: lightblue;
    color: black;
}

#rule3 {
    display: inline-block;
    margin-right: 30px;
    color: gray;
    transition: background-color 1s, color 1s, box-shadow 1s;
}

#rule3:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: lightblue;
    color: black;
}

#rule4 {
    display: inline-block;
    color: gray;
    transition: background-color 1s, color 1s, box-shadow 1s;
}

#rule4:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: lightblue;
    color: black;
    
}

#power {
    font-size: 30px;
    display: inline-block;
    margin-right: 40px;
    opacity:0;
    transition:opacity 1s linear;
}

#rule1:hover + #power {
  opacity:1;
}

#product {
    font-size: 30px;
    display: inline-block;
    margin-right: 40px;
    opacity:0;
    transition:opacity 1s linear;
}

#rule2:hover + #product {
  opacity:1;
}

#quotient {
    font-size: 30px;
    display: inline-block;
    margin-right: 40px;
    opacity:0;
    transition:opacity 1s linear;
}

#rule3:hover + #quotient {
  opacity:1;
}

#chain {
    font-size: 30px;
    display: inline-block;
    margin-left: 40px;
    opacity:0;
    transition:opacity 1s linear;
}

#rule4:hover + #chain {
  opacity:1;
}